:root {
  --font-family: 'Montserrat', sans-serif;
  --main-bg-color: #f5f4f4;
  --header-bg-color: rgb(113, 112, 117);
  --primary-bg: #fff;
  --accent-color: #d69172;
  --header-color: #fff;
  --sidebar-color: #fff;
}

/* base reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: disc;
}

a {
  text-decoration: none;
  color: #222;
}

a:hover {
  font-weight: 500;
  font-size: calc(1em * 1.1);
  transition:
    font-size 0.2s ease,
    font-weight 0.2s ease;
}

p span {
  margin-left: 20px;
}

.contact-link {
  color: var(--sidebar-color);
}

.contact-link:hover {
  padding: 5px 0;
  color: var(--accent-color);
}

body {
  background-color: var(--primary-bg);
  color: #222;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  margin: 8px;

  overflow-x: hidden;
  /* Makes font crisp in Chrome/Safari */
  -webkit-font-smoothing: antialiased;

  /* Makes font crisp in Firefox */
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1220px;
  /* padding: 0 15px; */
  margin: 0 auto;
}

/* header */
.about-me-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 15px;
  flex-grow: 1;
  min-width: 360px;
  padding-right: 5px;
  padding-top: 15px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--header-bg-color);
  gap: 50px;
}

/* header */
.image-wrap {
  position: relative;
  width: 265px;
  height: 265px;
  border-radius: 50%;
  border: 12px solid transparent;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
  margin-left: 15px;
}

.image-wrap::before {
  content: '';
  position: absolute;
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  background: linear-gradient(
    to bottom,
    var(--header-bg-color),
    var(--main-bg-color)
  );
  border-radius: 50%;
  z-index: -1;
}

.my-photo {
  width: 100%;
  border-radius: 50%;
  display: block;
}

.about-name {
  color: var(--header-color);
}

.profession-title {
  font-weight: 600;
  margin-top: 4px;
  color: var(--accent-color);
}

.profile-container {
  width: 100%;
  padding-left: 55px;
  padding-right: 15px;
  background-color: var(--main-bg-color);
  border-radius: 10px;
}

.profile-title {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
}

.profile-content {
  font-size: 16px;
}
.ptofile-list {
  margin-left: 32px;
}

.ptofile-list-item {
  font-weight: 500;
}

/* main */
main {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  align-items: stretch;
  gap: 40px;
  min-height: 460mm;
  margin: 0 auto;
  transform-origin: top left;
  margin: 0 auto;
}

main > div {
  flex-grow: 1;
  padding: 10px 15px;
}

.work-experience {
  padding-top: 5px;
}

.project-experience,
.education {
  margin-top: 10px;
}

.work-title,
.project-title,
.education-title {
  position: relative;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.work-title::after,
.project-title::after,
.education-title::after {
  content: '';
  position: absolute;
  bottom: -5px;
  height: 2px;
  width: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.work-position {
  margin-top: 7px;
}
.company {
  color: var(--accent-color);
}

.work-period {
  font-size: 12px;
  color: #858484;
}

.work-list,
.project-list {
  padding: 0;
  margin-left: 15px;
}

.project-list {
  list-style-type: decimal;
}

.work-list-item,
.project-item,
.education-item {
  line-height: 1.4;
}

.education-list {
  list-style-type: circle;
}

.education-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0 10px;
}

.time-period {
  width: 100%;
  margin-top: 4px;
}

/* sidebar */
.sidebar {
  z-index: 1;
  width: 330px;
  background-color: var(--header-bg-color);
  flex-shrink: 0;
  min-height: 100%;
  padding: 10px 0;
  background-color: var(--header-bg-color);
  /* box-shadow: 0 0 0 1000px var(--header-bg-color);
  clip-path: inset(0 0 0 -15px); */
  color: var(--sidebar-color);
}

.sidebar-title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.sidebar-title::after {
  content: '';
  position: absolute;
  left: 10px;
  width: calc(100% - 20px);
  height: 1px;
  bottom: 0;
  background-color: var(--sidebar-color);
}

.contact-container {
  margin-top: 10px;
}

.contact-list,
.skills-list {
  list-style: none;
  margin: 20px;
  line-height: 30px;
}

.skills-list {
  margin-left: 40px;
  list-style: disc;
}

.contact-item,
.skills-item {
  display: flex;
  gap: 10px;
  align-items: center;
}

.contact-icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}
