:root {
  --font-family: "Montserrat", sans-serif;
}

/* base reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #fff;
  color: #222;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
